# macos file
/**/.DS_Store

# Terraform file
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfvars
*.tfvars

.terraform.tfstate.lock.info

.idea/
